/* * {
    border: 1px solid red;
} */
body {
    font-family: Helvetica, sans-serif;
    color: #c0c7e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161925;
    text-shadow: #0e1018 5px 5px 2px;

}

.container {
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: blur(0px);
    transition: 0.5s -webkit-filter linear
}

.inputConteiner {


    display: flex;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;
    background-color: #23395B;
    margin: 20px;
    padding: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px #0e1018 solid;
    box-shadow: #0e1018 5px 5px;
}

.card h3 {
    font-size: 30px;
    text-shadow: #0e1018 5px 5px 4px;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.inputs div {
    border: 1px black solid;
}

.inputs img {
    width: 70px;
    height: 70px;
}

.button {
    width: 95px;
    height: 120px;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #8EA8C3;
    box-shadow: #161925 5px 5px;
    text-shadow: #23395B 1px 1px 3px;
}

button:hover {
    background-color: #748ba3;
}

button:active {
    background-color: #27323d;
    transform: translate(5px, 3px);
    box-shadow: #161925 2px 2px;
}

.computer .button {
    width: 93px;
    height: 118px;
    box-shadow: #161925 2px 2px;
}

.selected {
    background-color: #27323d;
}

.selected:hover {
    background-color: #27323d;
}

.button p {
    margin: 0;
}

.popup {
    padding: 15px;
    text-align: center;
    font-size: 25px;
    transform: translate(0, 0px);

    position: absolute;
    background-color: #23395B;
    display: flex;
    flex-shrink: 1;
    flex-basis: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 180px;
    border: black 2px solid;
    border-radius: 50px;
    box-shadow: #161925 5px 5px;
    font-weight: bold;
    transition: scale 1s;
    transform: scale(0.01, 0.01);
    visibility: hidden;
}

.popButton {
    margin-top: 0px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    box-shadow: #161925 5px 5px;
    font-size: 25px;
}

.popup h4 {
    margin: 0;
}

.popup h6 {
    margin-top: 25px;
    margin-bottom: 5px;
}