/* * {
    border: 1px solid red;
} */
body {
    background-color: #161925;
    text-shadow: #0e1018 5px 5px 2px;
}

.container {
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 50%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c0c7e0;
    

}

.inputConteiner {

    width: 100%;
    display: flex;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;
    background-color: #23395B;
    margin: 20px;
    padding: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px #0e1018 solid;
    box-shadow: #0e1018 5px 5px;
}
.card h3{
    font-size: 30px;
    text-shadow: #0e1018 5px 5px 4px;
}
.inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.inputs div {
    border: 1px black solid;
}

.inputs img {
    width: 70px;
    height: 70px;
}

.button {
    width: 70px;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #8EA8C3;
    box-shadow: #161925 5px 5px;
    text-shadow: #23395B 1px 1px 3px;
}
 


.button p {
    margin: 0;
}